* {
    margin: 0;
    padding: 0;
}

html,
body,
.fundo,
.container,
.homem_ferro {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    justify-content: flex-start;
}

.container_titulo {
    display: flex;
    justify-content: center;
}

.titulo {
    position: absolute;
    margin-top: 20px;
    width: 30%;
    height: 20%;
    align-self: flex-start;
    animation: titulo_animado 2s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes titulo_animado {
    0% {
        top: 0px
    }

    50% {
        top: 15px
    }

    100% {
        top: 0px
    }

}

.homem_ferro {
    position: absolute;
    width: 20%;
    height: 33%;
    margin: 20px 0px 0px 20px;

}