* {
    margin: 0;
    padding: 0;
}

html,
body,
.fundo,
.container,
.homem_ferro {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    justify-content: flex-start;
}

.container_titulo {
    display: flex;
    justify-content: center;
}

.titulo {
    position: absolute;
    margin-top: 20px;
    width: 30%;
    height: 20%;
    align-self: flex-start;
    animation: titulo_animado 2s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes titulo_animado {
    0% {
        top: 0px;
    }

    50% {
        top: 15px;
    }
    
    100% {
        top: 0px;
    }
    
}

.homem_ferro {
    position: absolute;
    width: 20%;
    height: 33%;
    margin: 20px 0px 0px 35px;
    animation: homem_ferro 3s alternate;
}

@keyframes homem_ferro {
    0% {
        opacity: 0%;
        top: 0px;
        left: 0px;
        width: 20%;
        height: 33%;
    }

    50% {
        opacity:50%;
        top: 15px;
        left: 15px;
        width: 24%;
        height: 37%;
    }    

    100% {
        opacity: 100%;
        top: 0px;
        left: 0px;
        width: 20%;
        height: 33%;
    }
}

.capitao_america {
    position: absolute;
    width: 15%;
    align-self: flex-end;
    margin: 0px 0px 20px 25px;
    animation: capitao_america 2s alternate;
}


@keyframes capitao_america {
    0% {
        opacity: 0%;
        align-self: flex-end;
        width: 15%;
    }
    
    50% {
        opacity: 50%;
        width: 18%;
    }
    
    100% {
        opacity: 100%;
        align-self: flex-end;
        width: 15%;    
    }
    
}